/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: hsl(205, 100%, 18%);
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  top: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  width: 100%;
  z-index: 999;
}
.fixed-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 15px;
  background-color: hsl(205, 100%, 18%);
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  top: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  width: 100%;
  z-index: 9999;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 10px;
  margin-bottom: 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 30px;
}

nav ul li a:hover {
  color: hsl(206, 62%, 62%);
}

.header-left {
  display: flex;
  align-items: center;
  flex: 80%;
}

.header-right {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.call-us-top-text{
  font-size: 18px;
  text-align: center;
}
.call-us {
  background-color: #0066cc;
  color: #ffffff;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
}
.call-us a{
  color: #ffffff;
  text-decoration: none;
}
.call-us a:hover{
  color: hsl(206, 62%, 62%);
}

.menu-list {
  display: none;
  z-index: 999;
}

.sec1 {
  text-align: left;
  background-image: url("ute.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-attachment: fixed;
  overflow: hidden;
}

.mobile-24-hour{
  display: none;
}
.page-content-sec1 {
  border-radius: 10px;
  padding: 1%;
  background-color: rgba(53, 53, 53, 0.75);
  color: #ffffff;
  max-width: 90%;
  margin: 2% auto;
  margin-right: 60%; margin-left: 5%;
}
.sec2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: hsl(205,100%,18%);
  color: #ffffff;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
}
.sec3 {
  text-align: left;
  background-image: url("kitchen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-content-sec3 {
  border-radius: 10px;
  padding: 1%;
  background-color: rgba(53, 53, 53, 0.75);
  color: #ffffff;
  max-width: 90%;
  margin: 2% auto;
  margin-left: 15%;
  margin-right: 15%;
}
.page-content {
  margin: 0 20%;
  margin-top: 50px;
  flex-wrap: wrap;
}
.page-content2 {
  margin: 0 20%;
  flex-wrap: wrap;
  align-items: center;
}
body {
  background-color: rgb(245, 243, 243);
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background: #ffffff;
  margin-right: 0;


}

h1 {
  margin-top: 0;
  font-size: 25px;
  text-align: center;
  align-items: center;
}

p {
  font-size: 20px;
}


img {
  height: 75px;
  width: auto;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  gap: 10px;
  padding: 10px;
  padding-bottom: 0px;
}

.item {
  border-radius: 10px;
  text-align: left;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
}

.container2 {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  gap: 10px;
  padding: 10px;
}

.container3 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  padding: 10px;

}

.item2 {
  border-radius: 10px;
  text-align: center;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(255, 255, 255);
  padding: 1%;
  align-items: center;
}
.item3 {
  text-align: left;
}

ion-icon {
  font-size: 64px;
  color: hsl(205,100%,18%);
}


.carousel {
  --current-slide: 0;
  position: relative;
  overflow: hidden;
  margin-left: 15%;
  margin-right: 15%;
   margin-top: 3%;
}

.carousel-button {
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;

  font-size: 1.5rem;
  cursor: pointer;

  transition: color 0.1s;
  width: 40px;

}

.carousel-button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.carousel-button_next {
  right: 0;
}

.carousel-button span {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.slides {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
  
}

.slide {
  flex: 0 0 100%;
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
  margin-bottom: 1%;
}

.text-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  padding: 10px; /* Add padding here */
}


.footer {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  height: 16.666%;
  font-size: 18px;
  text-align: left;
  padding-top: 1%;
  padding-left: 12%;
  padding-right: 12%;
  line-height: 1.5;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 5px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  margin-top: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end; /* Align icons to the right */
}

/* Additional CSS for copyright centering */
.footer .copyright {
  text-align: center;
  margin: 0 auto; /* Center the copyright horizontally */
}











.glide__slide img{
  margin-top: 3%;
  height: 300px;
  width: 300px;
  object-fit: fill;
  object-position: center;
  border-radius: 10px;
}

.small-text{
  font-size: 20px;
}
.google-reviews{
  text-align: center;
  margin-bottom: 4%;
}
.google-reviews-button{
  background-color: #0066cc;
  color: #ffffff;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 24px;
  text-decoration: none;
}

/*
    * Project Name : 'Sidebar'
    * Built by : 'Gulshan Songara'
*/

/*--====== Global Variables ======--*/
:root {
  --bg-color: #13131f;
  --bg-color-2: hsl(205, 100%, 18%);
  --text-color: #a9afc3;
}


/*--====== CSS Reset ======--*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.lead { font-size: 1.5rem; font-weight: 300; }
.container { margin: 150px auto; max-width: 960px; }
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}


/*--====== Sidebar ======--*/
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  max-width: 300px;
  width: 80%;
  height: 100%;
  padding: 2rem;
  background-color: var(--bg-color-2);
  box-shadow: 0 10px 20px -4px #000;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease;
}

/* when the sidebar has 'show' class */
#sidebar.show {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.sidebar_content {
  padding: 2.8rem 0;
  pointer-events: none;
  /* so that the Sidebar does not get closed while clicking on sidebar_content */
}

.sidebar_content a {
  pointer-events: all;
  /* so that all the <a> inside sidebar_content are clickable */
}

.sidebar_body {
  border-top: 1px dashed var(--text-color);
  border-bottom: 1px dashed var(--text-color);
}

.side_navlinks ul {
  display: grid;
  gap: 2rem;
}

.side_navlinks li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
}

.side_navlinks a:hover {
  opacity: 1;
}

/*---- Sidebar-Toggler ----*/
.sidebar_toggler {
  position: fixed;
  top: 4vh;
  right: 3vw;
  width: 1.75rem;
  height: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  visibility: hidden;
  z-index: 100000;
}

.sidebar_toggler span {
  background-color: #ddd;
  width: 100%;
  height: 2.4px;
  transition: all 0.3s ease;
  pointer-events: none;
  /* so that it doesn't overlap the sidebar_toggler */
}

/* if the sidebar has 'show' class then their adjacent-sibling (i.e., sidebar_toggler) will... */
#sidebar.show + .sidebar_toggler {
  justify-content: center;
}

#sidebar.show + .sidebar_toggler span {
  margin-top: -1.2px;
  margin-bottom: -1.2px;
}

#sidebar.show + .sidebar_toggler span:first-child {
  transform: rotate(45deg);
}

#sidebar.show + .sidebar_toggler span:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}

#sidebar.show + .sidebar_toggler span:last-child {
  transform: rotate(-45deg);
}

/* Update the existing media query for screens up to 1024 */



@media (max-width: 1024px)  {
  @viewport { width: 1024px; }


  .menu-list.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Change this value to move the menu down from the header */
    left: 0; /* Position the menu at the left edge */
    background-color: hsl(205, 100%, 18%);
    padding: 10px;
    z-index: 999;
  }
  .menu-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-list li {
    margin: 10px;
  }
  
  .menu-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .menu-list a:hover {
    color: hsl(206, 62%, 62%);
  }
  
  .page-content-sec1{
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
    
  }
  .page-content-sec1 p{
    font-size: 2.5vw;
  }
  .page-content-sec3{
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 100%;
  }

  .header-left nav {
    display: none;
  }


  .menu-list li {
    margin: 10px;
  }

  /* Show the logo when the screen is 1024px or below */
  .header-left img {
    display: block;
    height: 75px; /* You may need to adjust the height to fit your logo */
    width: auto;
  }

  /* Hide other elements in the header when the screen is 1024px or below */
  .header-text,
  .header-right {
    display: block;
    font-size: 2vw;
  }
  .header-right{
    width: 40%;
  }
  .header-text{
    visibility: hidden;
  }
  .sidebar_toggler{
    visibility: visible;
  }

  .sec2 h1{
    font-size: 4vw;
    align-items: center;
    margin-bottom: 0;
   }
   #Logo{
     height: 60px;
     width: auto;
   }
   h1{
     font-size: 26px;
   }
   .item h1 {
     font-size: 4vw;
     width: 100%;
     margin-top: 0;
     margin-bottom: 0;
   }

   p{
     font-size: 2.5vw;
   }

   .google-reviews-button{
     font-size: 2.5vw;
   }
   .text-container {
     margin-top: 10%;
   }
   .page-content-sec1{
     margin-right: 5%;
     margin-left: 5%;
     padding-left: 3%;
     padding-right: 3%;
   }
   
   
   .page-content-sec3{
     margin-right: 5%;
     margin-left: 5%;
     padding-left: 3%;
     padding-right: 3%;
   }
   .page-content-sec3 p{
    font-size: 2.5vw;
  }
  .footer p{
    font-size: 3vw;
    margin-right: 5%;
  }
  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (max-width: 767px)  {
  @viewport { width: 767px; }

  .sec1 {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column; 
  }

  /* .mobile-24-hour {
    display: block;
    border-radius: 10px;
    padding: 2%;
    background-color: rgba(53, 53, 53, 0.75);
    color: #ffffff;
    max-width: 90%;
    margin: 2% auto;
  } */


  .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
  .page-content-sec1 p{
    font-size: 3vw;
  }

  .page-content2 {
    margin: 2%;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .item,
  .item2,
  .item3 {
    flex: 1 1 calc(50% - 10px);
  }

  .header {
   
    display: flex;
    flex-direction: column;
  }

  .header-left,
  .header-right {
    font-size: 3vw;
    flex: initial;
  }
 


  .call-us-top-text{
    font-size: 3vw;
    text-align: center;
  }

  .header-right {
    margin-top: 15px;
  }
  .glide__bullets{
    display:none;
  }
  .glide__bullet {
    display: none;
  }

  .glide__slide img{
    margin-top: 3%;
    height: 200px;
    width: 200px;
    object-fit: fill;
    object-position: center;
    border-radius: 10px;
  }

  .sec2 h1{
   font-size: 4vw;
   align-items: center;
   margin-bottom: 0;
  }
  #Logo{
    height: 60px;
    width: auto;
  }
  h1{
    font-size: 4vw;
  }
  .item h1 {
    font-size: 4vw;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  p{
    font-size: 3vw;
  }
  .google-reviews-button{
    font-size: 4vw;
  }
  .text-container {
    margin-top: 10%;
  }
  .page-content-sec1{
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }
  
  
  .page-content-sec3{
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .page-content-sec3 p{
    font-size: 3vw;
  }
  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}
/* Update the existing media query for screens up to 420 */
@media only screen and (max-width: 550px) {
  @viewport { width: 550px; }
  .sec1 {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column; 
  }
  .page-content-sec1 p{
    font-size: 5vw;
  }

  .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
  }

  .page-content2 {
    margin: 2%;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .item,
  .item2,
  .item3 {
    flex: 1 1 calc(50% - 10px);
  }

  .header {
   
    padding-right: 50px;
    display: flex;
    flex-direction: column;
  }

  .header-left,
  .header-right {
    font-size: 3vw;
    flex: initial;
  }

  .call-us-top-text{
    font-size: 3vw;
    text-align: center;
  }

  .sidebar_toggler{
    visibility: visible;
  }
  .header-right {
    margin-top: 15px;
  }
  .glide__bullets{
    display:none;
  }
  .glide__bullet {
    display: none;
  }

  .glide__slide img{
    margin-top: 3%;
    height: 200px;
    width: 200px;
    object-fit: fill;
    object-position: center;
    border-radius: 10px;
  }

  .sec2 h1{
   font-size: 4vw;
   align-items: center;
   margin-bottom: 0;
  }
  #Logo{
    height: 60px;
    width: auto;
  }
  h1{
    font-size: 26px;
  }
  .item h1 {
    font-size: 6vw;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  p{
    font-size: 5vw;
  }
  .google-reviews-button{
    font-size: 4vw;
  }
  .text-container {
    margin-top: 10%;
  }
  .page-content-sec1{
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .page-content-sec3{
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .page-content-sec3 p{
    font-size: 5vw;
  }
  .footer {
    font-size: 4vw;
  }
}